[Desktop Entry]
Name=Fractal-transparent
X-KDE-PluginInfo-Author=Spoon
X-KDE-PluginInfo-Category=WindowDecoration
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=laserpyoro@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Fractal-transparent
X-KDE-PluginInfo-Version=1.0.0
